/* General Styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 0;
}

h2 {
  color: #00495d;
  text-align: center;
  margin-top: 20px;
}

.downbtn{
  display: flex;
  justify-content: space-between;
}
.download{
  background-color: #1e7e34;
  margin: auto 84px;
  display: flex;
  align-items: baseline;
  padding: 15px 20px;
  border-radius: 5px;
}

.file-input {
  display: block;
  /* margin: 20px 0px 20px auto; */
  padding: 10px;
  border: 2px dashed #00495d;
  border-radius: 10px;
  background-color: #ffffff;
  width: 300px;
  text-align: center;
  font-size: 14px;
  color: #555;
}

.file-input:hover {
  border-color: #00495dba;
  background-color: #e9f5ff;
}

.buttons {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

button {
  /* background-color: #00495d; */
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



.info-icon {
  display: flex;
  justify-content: center;
  margin: 0px auto 0px 0px;
}
.tool{
  display: flex;
  justify-content: center;
}

.th{
  display: flex;
  justify-content: left;
}

.tooltip {
  display: none;
  position: absolute;
  margin: auto 7px;
  /* top: 25px;
  left: 0; */
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  /* width: 270px; */
  /* justify-content: center; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: #333;
  z-index: 10;
  border-radius: 4px;
}


.error {
  margin: -153px 31px 13px 1143px;

  background-color: #ecbbbb;
  border: 1px solid #ccc;
  padding: 10px;
  width: 20%;
  /* justify-content: center; */
  box-shadow: 0 4px 8px rgb(223 107 107);
  font-size: 16px;
  color: #bc0000;
  z-index: 10;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}
.process {
  margin: -214px 31px 13px 1143px;

  background-color: #bbecc5;
  border: 1px solid #ccc;
  padding: 10px;
  width: 20%;
  /* justify-content: center; */
  box-shadow: 0 4px 8px rgb(107 223 123);
  font-size: 16px;
  color: #249200;
  z-index: 10;
  border-radius: 4px;
  display: flex;
  justify-content: center;
}

.file-label:hover .tooltip {
  display: block;
}


/* button:hover {
  background-color: #00495dba;
} */

/* button:active {
  background-color: #003f7f;
} */
.spinner{
  display: flex;
  justify-content: center;
}
/* Loading Spinner */
.fa-spinner {
  font-size: 24px;
  color: #00495d;
  /* display: block; */
  text-align: center;
  margin: 20px auto;
}

/* Response Container */
.response-container {
  text-align: center;
  margin-top: 30px;
  padding: 0px 99px 30px 51px;
}

.response-container h1 {
  color: #28a745;
  font-size: 24px;
  margin-bottom: 20px;
}

.response-container a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  /* background-color: #177a96; */
  /* padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease; */
}

/* .response-container a:hover {
  background-color: #00495d;
} */

/* Table Styling */
.table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.table th {
  background-color: #00495d;
  color: #fff;
}

.table th {
  padding: 10px;
  text-align: center;
}

.table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  width: 0px;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.table td a {
  color: #00495d;
  text-decoration: none;
}

.table tbody td a:hover {
  text-decoration: underline;
}

.btn {
  background-color: #17a2b8;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #117a8b;
}

.btn-primary {
  background-color: #00495d;
}

.btn-primary:hover {
  background-color: #00495dba;
}
