/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/all.css';
/* @import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css'; */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
  background-color: #177a96;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  display: flex;
}

button:hover {
  background-color: #00495d;
  /* opacity: 0.8; */
}
